html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.parallax {
    background-image: url('../img/biblioteca.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    box-shadow: rgba(0,0,0,.3) 0px 5px;
    height: 240px;
}

#divPesquisa {
}

.form-busca {
    margin: auto auto;
    text-align: center;
    width: 60%;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

    .form-busca input {
        padding: 5px 20px;
        font-size: 14px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }


#divLancamentos {
}

    #divLancamentos .card {
        margin: 0 32px 0 32px;
        width: 18rem;
        text-align: center;
        box-shadow: rgba(0,0,0,.4) 10px 10px;
        height: 380px;
        max-height: 380px;
    }

        #divLancamentos .card img {
            height: 200px;
            width: 150px;
        }
