@{
    ViewData["Title"] = "Home Page";
}

<div id="divPesquisa" class="bg-dark pt-4 pb-4 text-light">
    <p class="fs-4 text-center">Encontre seu livro, pelo nome, autor ou gênero literário.</p>
    <div class="input-group form-busca">
        <input type="text" class="form-control fs-4" placeholder="Pesquisar na BiblioTech" aria-describedby="btnPesquisar">
        <button class="btn btn-outline-light fs-4" type="button" id="btnPesquisar"><i class="bi bi-search"></i></button>
    </div>
</div>

<div class="parallax">Ola</div>

<div class="bg-dark p-5">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax">ola</div>

