@{
    ViewData["Title"] = "Home Page";
}


<div id="divLancamentos">
    <div class="parallax pt-4">
        <div class="card text-center mt-2">
            <div class="w-100 text-center mt-3">
                <img src="~/img/livro.png" class="card-img-top img-fluid" alt="Capa do Livro">
            </div>
            <div class="card-body">
                <h4 class="card-title">A Fazenda SFantasma</h4>
                <h5 class="lead">Gustavo F. Francelin</h5>
                <p>Avaliações</p>
                <p class="text-center">
                    <a href="#" class="card-link btn btn-outline-success">Reservar</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bg-dark p-5">
    Scroll Up and Down this page to see the parallax scrolling effect.
    This div is just here to enable scrolling.
    Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>

<div class="parallax">ola</div>

